/*this css is used multiple times!*/ 
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m{
    margin: 12px 0 12px 15px;
    padding-top: 10px;
}
.text-center{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.my-1{
    margin: 15px 0 0 0;
}
.my-2{
    margin: 0 0 15px 0;
}
.lines{
    width: 15vw;
}
.card-items img:hover{
    width:145px;
    height: 120px;
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
}
.slider img:hover{
    width:1030px;
    height: 330px;
    cursor: pointer;
}